PORT=3001
MONGODB_URI=mongodb://localhost:27017/miropet
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=7d
NODE_ENV=development
IMAGEKIT_PRIVATE_KEY=your-imagekit-private-key-here

# SMS.ir API Configuration
SMS_IR_API_KEY=cQCicmk3DounGa8l6THCbCxUaMqtQSYtqlCHB9FPbaLfk5mF
SMS_IR_TEMPLATE_ID=905649